$accent: #2B2A5E
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
    font-weight: bold
    scroll-behavior: smooth


.main-container
    width: 100%
    height: 600px
    background: url("main-background.jpg")
    background-size: cover
    background-position-x: top
    background-position-y: center
    padding-right: 85px
    padding-left: 85px
    padding-top: 40px
    header
        width: 100%
        height: 30px
        position: relative
        z-index: 10
        ul
            list-style: none
            text-align: end
            li
                display: inline-block
                padding-left: 43px
                a
                    color: #fff
                    text-decoration: none
                    &:hover
                        color: #f3e880
    
.main-flex
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 400px
    .flex__title
        padding: 34px 16px 63px 16px
        border: 3px solid #fff
        border-radius: 5px
        text-align: center
        position: relative
        z-index: 10
        h1
            font-size: 65px
            color: #fff
        h3
            font-size: 22px
            color: #fff
.main-container::before
    content: ' '
    top: 0
    left: 0
    right: 0
    bottom: 0
    position: absolute
    background: rgba( 0, 0, 0, .5)

/*End main*/
.about-container
    position: relative
    z-index: 10
    padding: 0 85px
    text-align: center
    background-color: #f7f2f2
    
    img
        position: relative
        width: 150px
        margin: 0 auto
        margin-top: -100px
    h2
        padding: 10px
        padding-top: 20px
        font-size: 40px
        text-align: center
    p
        font-size: 20px
        margin-bottom: 20px
    hr
        background-color: #000
        height: 3px

/*End about*/

.portfolio-container
    width: 100%
    padding: 50px 85px
    margin: 0 auto
    background-color: #f7f2f2
    h2
        font-size: 40px
        text-align: center
    .portfolio__elements
        display: flex
        flex-wrap: wrap
        justify-content: center
        text-align: center
        margin-top: 85px
        .elements__group
            width: 350px
            margin-bottom: 20px
            h3
                color: $accent
                font-size: 25px
                padding-bottom: 5px
            img
                width: 350px
                height: 200px
                border-radius: 3px
                margin-bottom: 5px
            h4
                color: #000
            h5
                margin-top: 5px
                font-size: 15px
                color: #594F4F
        .middle
            margin-left: 20px
            margin-right: 20px

/*End portfolio*/
footer
    background-color: $accent
    width: 100%
    height: 200px
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    text-align: center
    padding: 0
    a
        width: 80px
        height: 40px
        margin: 10px
        border-radius: 3px
        img
            width: 20px
            height: 30px
            text-align: center
            padding-top: 7px
.footer__ws
    background-color: #25D366
.footer__ig
    background-color: #94105A
.footer__link
    background-color: #0077B5
.footer__fb
    background-color: #205FB0

footer
    a:hover
        width: 82px


@media screen and ( max-width: 480px )
    .main-container
        height: 300px
        padding: 20px 20px
        header
            width: 100%
            ul
                text-align: center
                li
                     padding: 5px
    .main-flex
        height: 200px
        .flex__title
            padding: 15px
            h1
                font-size: 25px
            h3
                font-size: 15px
    .about-container
        padding: 20px 20px
        img
            width: 150px
        h2
            font-size: 30px
        p
            text-align: center
            font-size: 18px
    .portfolio-container
        padding: 20px 20px
        h2
            font-size: 30px
        .portfolio__elements
            width: 90%
            margin: 40px auto
            .elements__group
                width: 100%
                h3
                    font-size: 20px
                img
                    width: 100%
            .middle
                margin-left: 0
                margin-right: 0
    footer
        a
            width: 50px
            height: 40px
            margin: 5px
            border-radius: 3px
        img
            width: 15px
            height: 20px
            text-align: center
            padding-top: 7px
@media screen and (max-width: 1259px)
    .elements__group
        margin: 20px
