* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
}

.main-container {
  width: 100%;
  height: 600px;
  background: url("main-background.jpg");
  background-size: cover;
  background-position-x: top;
  background-position-y: center;
  padding-right: 85px;
  padding-left: 85px;
  padding-top: 40px;
}

.main-container header {
  width: 100%;
  height: 30px;
  position: relative;
  z-index: 10;
}

.main-container header ul {
  list-style: none;
  text-align: end;
}

.main-container header ul li {
  display: inline-block;
  padding-left: 43px;
}

.main-container header ul li a {
  color: #fff;
  text-decoration: none;
}

.main-container header ul li a:hover {
  color: #f3e880;
}

.main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 400px;
}

.main-flex .flex__title {
  padding: 34px 16px 63px 16px;
  border: 3px solid #fff;
  border-radius: 5px;
  text-align: center;
  position: relative;
  z-index: 10;
}

.main-flex .flex__title h1 {
  font-size: 65px;
  color: #fff;
}

.main-flex .flex__title h3 {
  font-size: 22px;
  color: #fff;
}

.main-container::before {
  content: ' ';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

/*End main*/
.about-container {
  position: relative;
  z-index: 10;
  padding: 0 85px;
  text-align: center;
  background-color: #fff;
}

.about-container img {
  position: relative;
  width: 150px;
  margin: 0 auto;
  margin-top: -100px;
}

.about-container h2 {
  padding: 10px;
  padding-top: 20px;
  font-size: 40px;
  text-align: center;
}

.about-container p {
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 70%;
}

.about-container hr {
  background-color: #000;
  height: 3px;
}

/*End about*/
#portfolio {
  padding: 50px 130px;
  border-radius: 10px;
  padding: 20px;
}

#portfolio h2 {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

#portfolio .portfolio__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

#portfolio .portfolio__gallery img {
  width: 100%;
  height: 218px;
}

#portfolio .portfolio__gallery .gallery__image {
  position: relative;
}

#portfolio .portfolio__gallery .gallery__image .image__overlay {
  width: 100%;
  height: 218px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

#portfolio .portfolio__gallery .gallery__image .image__overlay .image__description {
  font-weight: 700;
  font-size: 20px;
}

#portfolio .portfolio__gallery .gallery__image .image__overlay span {
  text-align: center;
}

#portfolio .portfolio__gallery .gallery__image .image__overlay .image__button {
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 15px;
  font-weight: 800;
  margin-top: 15px;
}

#portfolio .portfolio__gallery .image__overlay:hover {
  opacity: 1;
}

/*End portfolio*/
footer {
  background-color: #000;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0;
}

footer a {
  width: 20px;
  height: 40px;
  margin: 10px;
  border-radius: 3px;
}

footer a img {
  width: 20px;
  height: 30px;
  text-align: center;
  padding-top: 7px;
}

footer a .footer__fb img {
  height: 27px;
}

@media screen and (max-width: 768px) {
  #portfolio {
    padding: 50px 20px;
    width: 100%;
    margin: 0 auto;
  }
  #portfolio h2 {
    color: #000;
  }
  #portfolio .portfolio__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #portfolio .portfolio__gallery img {
    text-align: center;
    max-width: 400px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #portfolio .portfolio__gallery .gallery__image {
    width: 45%;
    min-width: 250px;
  }
  #portfolio .portfolio__gallery .gallery__image .image__overlay {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    position: relative;
    display: block;
    opacity: 1;
    background: none;
    color: #000;
  }
  #portfolio .portfolio__gallery .gallery__image .image__overlay .image__button {
    display: block;
    color: #000;
    border-color: #000;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .main-container {
    height: 300px;
    padding: 20px 20px;
  }
  .main-container header {
    width: 100%;
  }
  .main-container header ul {
    text-align: center;
  }
  .main-container header ul li {
    padding: 5px;
  }
  .main-flex {
    height: 200px;
  }
  .main-flex .flex__title {
    padding: 15px;
  }
  .main-flex .flex__title h1 {
    font-size: 25px;
  }
  .main-flex .flex__title h3 {
    font-size: 15px;
  }
  .about-container {
    padding: 20px 20px;
  }
  .about-container img {
    width: 150px;
  }
  .about-container h2 {
    font-size: 30px;
  }
  .about-container p {
    text-align: center;
    font-size: 18px;
  }
  .portfolio-container {
    padding: 20px 20px;
  }
  .portfolio-container h2 {
    font-size: 30px;
  }
  .portfolio-container .portfolio__elements {
    width: 90%;
    margin: 40px auto;
  }
  .portfolio-container .portfolio__elements .elements__group {
    width: 100%;
  }
  .portfolio-container .portfolio__elements .elements__group h3 {
    font-size: 20px;
  }
  .portfolio-container .portfolio__elements .elements__group img {
    width: 100%;
  }
  .portfolio-container .portfolio__elements .middle {
    margin-left: 0;
    margin-right: 0;
  }
  footer a {
    width: 50px;
    height: 40px;
    margin: 5px;
    border-radius: 3px;
  }
  footer img {
    width: 15px;
    height: 20px;
    text-align: center;
    padding-top: 7px;
  }
}

@media screen and (max-width: 1259px) {
  .elements__group {
    margin: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */
